/* Mixins */

@mixin textshadow {
  text-shadow: 2px 2px 5px black;
}

@mixin text-highlight {
  color: goldenrod !important;
}

@mixin boxshadow {
  box-shadow: 2px 2px 5px black;
}

@mixin boxshadow-hover {
  box-shadow: 4px 4px 5px black;
}

@mixin border {
  border: 10px solid transparent;
  border-image: url("./media/gold.jpg") 50 stretch;
}

@mixin section-header {
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
}

@mixin body-text {
  font-weight: 600;
  font-size: 18px;
}

@mixin btn-style {
  border: 3px solid #bb8026;
  color: black;
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  &:hover {
    box-shadow: 4px 4px 5px black;
  }
  transition: 0.3s;
  background-image: url("./media/gold.jpg");
}

body {
  background-image: url("./media/parch.png");
  background-repeat: no-repeat;
  font-family: "Cinzel", serif;
}

/*Navigation*/

.bg-dark {
  background-image: url("./media/wood.jpg");
  box-shadow: 0px -2px 5px black inset;
}

a.navbar-brand {
  @include textshadow;
  font-size: 30px;
  font-weight: bold;
  &:hover {
    @include text-highlight;
  }
}

a.nav-link {
  @include textshadow;
}

/*Jumbotron*/

div.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  .display-4 {
    text-align: center;
    font-weight: bold;
  }
  p.lead {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  img.btn-img {
    @include border;
    @include boxshadow;
    width: 100%;
    height: 90%;
    margin-top: 15px;
    transition: 0.3s;
    &:hover {
      @include boxshadow-hover;
    }
  }
}

/*Generators*/
.header {
  @include section-header;
}

form {
  margin: 0 auto;
  margin-bottom: 20px;
  label {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
  }
  input.btn-generate {
    @include btn-style;
    margin-top: 15px;
  }
  select {
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
  }
}

ul.list1 {
  @include body-text;
  list-style: none;
  text-align: center;
}

.description {
  text-align: center;
  font-size: 25px;
}

/*Footer*/
footer {
  height: 50px;
  background-image: url("./media/wood.jpg");
  color: white;
  box-shadow: 0px 2px 5px black inset;
  text-align: center;
  p {
    padding-top: 5px;
  }
}
